*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
section:not(:last-child){
    border-bottom: 2px solid black;
    padding: 1rem;
}
.userDetailContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.oddUserDetailContainer{
    background-color: #ef3f3f;
    color: white;
    margin: 14px 0;
    padding: 10px;
    font-size: 22px;
    letter-spacing: 2px;
}
.section_2 h2:not(:first-child){
    margin: 2rem;
}
.details{
    padding: 14px 0;
    font-weight: 400;
    font-size: 22px;
}